form input[type="checkbox"]:disabled + label
{
    color: #ccc
}


form input[type="checkbox"]:not(:disabled)
{
    font-size: 150%;
}

form input[type="checkbox"]:not(:disabled) + label
{
    font-size: 150%;
    color: green;
}

/*
выберет все элементы "не ссылки"
*:not(:link):not(:visited)
{
	color: red !important;
}
*/