/*
	E:nth-child(an+b)
	разбивает все E-элементы
	на a-групп (остаток в последней)
 	выделает b-элемент в каждой

	E:nth-last-child(an+b)
	тоже самое но с конца коллекции элементов

	могут принимать значения odd (=2n+1)
	и even (2n)
*/

.parent li:nth-child(3n+1)
{
    border: 1px solid red;
}
