.product-cart-wrapper.cart-block {
  margin: 0 auto;
  width: 250px;
}

h3 {
  margin-top: 0;
}

h3,
p {
  text-align: center;
}
p {
  margin-bottom: 25px;
}

.input-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.input-fields .form-item-shtuk {
  margin-right: 10px;
}

input[type="radio"] + label {
  position: relative;
}

input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(204, 204, 204, 0.86);
}

.summary-wrapper {
  margin-top: 10px;
  text-align: center;
}

.quantity {
  display: block;
}

.square,
.price_unit {
  display: block;
}

#price_total {
  padding: 10px;
  border: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
